@{
    ViewData["Title"] = "Import Private Key";
}
<div id="particles-js"></div>

<div class="container mt-4">
    <h2>Import Private Key</h2>
    <form asp-controller="Import" asp-action="Decifrar" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="keyFile">Encrypted Key File (.json)</label>
            <input type="file" class="form-control d-none" id="keyFile" name="keyFile" onchange="updateFileName(this)" required>
            <div class="input-group">
                <button type="button" class="btn btn-outline-secondary" onclick="document.getElementById('keyFile').click()">Choose file</button>
                <span class="form-control" id="fileLabel">No file chosen</span>
            </div>
        </div>
        <script>
            function updateFileName(input) {
                const label = document.getElementById('fileLabel');
                label.textContent = input.files[0]?.name || 'No file chosen';
            }
        </script>
        <div>
            <label for="pss">Password for Key Encryption</label>
            <div class="input-group">
                <input type="password" id="pss" name="pss" class="form-control" placeholder="Introduce your secure Password" required>
                <button type="button" class="btn btn-outline-secondary" id="togglePassword">
                    <i class="bi bi-eye"></i>
                </button>
            </div>
        </div>

        <button type="submit">Generate Key</button>
    </form>

    @if (ViewBag.Message != null)
    {
        <div class="alert alert-info mt-3">@ViewBag.Message</div>
    }

    /* print decrypted private key for test */

    @if (ViewBag.DecryptedPrivateKey != null)
    {
        <div class="alert alert-success mt-3">
            <strong>Decrypted Private Key:</strong>
            <pre>@ViewBag.DecryptedPrivateKey</pre>
        </div>
    }

    @if (ViewBag.DecryptedPublicKey != null)
    {
        <div class="alert alert-success mt-3">
            <strong>Decrypted Public Key:</strong>
            <pre>@ViewBag.DecryptedPublicKey</pre>
        </div>
    }
</div>

@section Styles {
    <link rel="stylesheet" href="~/css/Import.css" />
}

@section Scripts {
    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
    <script src="~/js/site.js"></script>
}
