@{
    Layout = "_Layout";
    ViewData["Title"] = "Sign Page";
}



<div id="particles-js"></div>

<div class="text-center content">
    <h1 class="display-4">Sign with OpenSign</h1>
    <p>Learn more about <a href="https://learn.microsoft.com/aspnet/core">ASP.NET Core</a> and <strong>criptography</strong>.</p>

    <!-- Botao para gerar chaves -->
    <p class="mt-4">
        <a class="btn btn-warning btn-lg" href="/Generate"> Generate RSA Keys</a>
    </p>
    <p class="mt-4">
        <a class="btn btn-warning btn-lg" href="/Import"> Create Document</a>
    </p>
</div>

<!-- Mensagens com Bootstrap Alerts  -->
@if (TempData["Success"] != null)
{
<div class="alert alert-success alert-dismissible fade show text-center mt-3" role="alert">
    @TempData["Success"]
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
}

@if (TempData["Error"] != null)
{
<div class="alert alert-danger alert-dismissible fade show text-center mt-3" role="alert">
    @TempData["Error"]
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
}

@section Styles{
    <link rel="stylesheet" , href="~/css/SignView.css" />

}

@section Scripts {
    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
    <script src="~/js/site.js"></script>
}