@{
    ViewData["Title"] = "Gerar e Assinar Documento com HMAC";
}

<div id="particles-js"></div>

<h2>Generate Document with HMAC</h2>

<form method="post" asp-controller="CreateDocumentHMAC" asp-action="GerarEAssinarJson" enctype="multipart/form-data">
    <div class="form-group">
        <label for="novoInput">Text with Placeholders</label>
        <textarea name="novoInput" class="form-control" rows="10" placeholder="Ex: Hello [name: Pedro, Ana], you are in [city]..." required></textarea>
    </div>

    <div class="form-group">
        <label for="hmacKey">HMAC Shared Secret Key</label>
        <div class="input-group">
            <input type="password" name="hmacKey" id="hmacKey" class="form-control" placeholder="Introduce secret key" required />
            <button type="button" class="btn btn-outline-secondary" id="toggleHmacKey">
                <i class="bi bi-eye"></i>
            </button>
        </div>
    </div>
        <button type="submit">Generate .json with HMAC</button>
</form>

<div class="text-center content">
    <p><strong>If you want to verify your document</strong></p>

    <p class="mt-4">
        <a class="btn btn-warning btn-lg" href="/VerifyDocumentHMAC"> Verify Document </a>
    </p>
</div>

@if (TempData["Success"] != null)
{
    <div class="alert alert-success mt-3">@TempData["Success"]</div>
}
@if (TempData["Error"] != null)
{
    <div class="alert alert-danger mt-3">@TempData["Error"]</div>
}

@section Styles {
    <link rel="stylesheet" href="~/css/Generate.css" />
}

@section Scripts {
    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
    <script src="~/js/site.js"></script>
    <script src="~/js/toggleHmacKey.js"></script>
}
