#particles-js {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(120deg, #45484a, #2e3338, #2a3b4a);
    z-index: -1;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
.content {
    position: relative;
    color: white;
    text-align: center;
    margin-top: 10%;
}

a {
    color: #ffd700;
    text-decoration: underline;
}

form {
    margin: 20px auto;
    padding: 20px;
    max-width: 400px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
}

    form div {
        margin-bottom: 15px;
    }

    form label {
        display: block;
        font-weight: bold;
        margin-bottom: 5px;
    }

    form select, form button {
        width: 100%;
        padding: 10px;
        font-size: 16px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    form button {
        background-color: #007bff;
        color: white;
        border: none;
        cursor: pointer;
    }

        form button:hover {
            background-color: #0056b3;
        }

h2 {
    text-align: center;
    color: #333;
}

pre {
    background-color: #f4f4f4;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow-x: auto;
}
