body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

#particles-js {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(120deg, #45484a, #2e3338, #2a3b4a);
    z-index: -1;
}


.card {
    border-radius: 12px;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

    .card:hover {
        transform: translateY(-5px);
        box-shadow: 0 0 20px rgba(250, 204, 21, 0.3);
    }

.card-img-top {
    height: 180px;
    object-fit: cover;
    border-bottom: 1px solid #ddd;
}

.card-title {
    font-size: 1.2rem;
    font-weight: bold;
}

.card img {
    max-height: 160px;
}

.btn-warning {
    font-weight: bold;
    border-radius: 8px;
}

.img-white {
    filter: brightness(0) invert(1); /* torna ícones escuros em brancos */
}

.card {
    min-width: 320px;
    max-width: 380px;
}


    .card:hover {
        transform: scale(1.02);
        box-shadow: 0 0 20px rgba(250, 204, 21, 0.3);
    }

.btn-warning:hover {
    background-color: #eab308; /* tom mais escuro do amarelo */
    color: #1f2937; /* texto escuro para contraste */
    box-shadow: 0 0 10px rgba(250, 204, 21, 0.5);
    transform: translateY(-2px);
}

.content {
    position: relative;
    color: white;
    text-align: center;
    margin-top: 0;
    padding-top: 0;
}


a {
    color: #ffd700;
    text-decoration: underline;
}

.card-text {
    font-size: 0.95rem;
    line-height: 1.5;
    text-align: left;
}