#particles-js {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(120deg, #45484a, #2e3338, #2a3b4a);
    z-index: -1;
}

.content {
    position: relative;
    color: white;
    text-align: center;
    margin-top: 10%;
}

a {
    color: #ffd700;
    text-decoration: underline;
}

html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Share Tech Mono', monospace;
}
