@{
    ViewData["Title"] = "Gerar JSON com Assinaturas";
}

<h2>Gerar JSON com Assinaturas</h2>

<form method="post" asp-controller="CreateDocument" asp-action="DownloadJson">
    <label for="novoInput">Insira um texto com placeholders</label>
    <textarea name="novoInput" class="form-control" rows="6" placeholder="Ex: Olá [nome: Pedro, Ana], você está em [cidade]"></textarea>
    <br />
    <button type="submit" class="btn btn-primary">Gerar e Assinar JSON</button>
</form>
