@{
    ViewData["Title"] = "Gerar JSON com Assinaturas";
}

<div id="particles-js"></div>

<h2>Generate Document Signed Fields</h2>

<form method="post" asp-controller="CreateDocument" asp-action="DownloadJson">
    <label for="novoInput">Insira um texto com placeholders</label>
    <textarea name="novoInput" class="form-control" rows="6" placeholder="Ex: Olá [nome: Pedro, Ana], você está em [cidade]"></textarea>
    <br />
    <button type="submit" class="btn btn-primary">Gerar e Assinar JSON</button>
</form>


@section Styles {
    <link rel="stylesheet" href="~/css/Signature.css" />
}

@section Scripts {
    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
    <script src="~/js/site.js"></script>
}
